body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.outer-container {
    width: 70%;
    margin: 20px auto;
    border: 30px solid #e74c3c; /* Color for the outer border */
    border-radius: 10px;
    background-color: #2ecc71; /* Color for the inner background */
    color: white;
    padding: 20px;
    text-align: center;
}

.outer-container h1 {
    margin-bottom: 20px;
}

.outer-container p {
    margin-bottom: 15px;
}
